# Azab Data by Kumparan

In [1]:
# https://www.slideshare.net/rizkinolimit/daftar-194-judul-ftv-azab

In [2]:
# python 3.6.5

In [3]:
import pandas as pd
import re

In [4]:
data_path="../data_raw/"

In [5]:
pd.__version__

'0.23.4'

In [6]:
re.__version__

'2.2.1'

#### Cleaning data

In [22]:
dtx=open(data_path+"raw_data.txt")
dtx2=" ".join(dtx.readlines())

In [28]:
# change number into ";"
dtx3=re.sub(" \d+", ";", dtx2)

#split by ";"
dtx4=dtx3.split(";")

In [41]:
dtx5=[x for x in dtx4[1:] if len(x)>4]

# There is a number on 1 title "Jenazah x bersaudara ..."
dtx6=[x for x in dtx5 if len(x.split(" "))>3]

In [52]:
dtx7=[(" ".join(x.split(" ")[:-1])).strip() for x in dtx6]
dtx7_saluran_tv=[(x.split(" ")[-1]).strip() for x in dtx6]

dtx_azab=pd.DataFrame({"Judul": dtx7,"Saluran TV": dtx7_saluran_tv})

In [54]:
dtx_azab.to_csv(data_path+"data_azab.csv",index=False)